API_BASE_URL=http://localhost:8000/api
PARENT_TOKEN=
CHILD_ID=
LISTEN_HOST=localhost
LISTEN_PORT=8080
BLOCK_REDIRECT_URL=https://white-pebble-088ad5110.2.azurestaticapps.net
REQUEST_TIMEOUT_SECONDS=10
